@use "./assets/variables.scss" as vars;

// Header ------------------
.header {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;

  .select {
    position: relative;
    user-select: none;

    &.open .options {
      max-height: 300px;
      opacity: 1;
      pointer-events: auto;
    }

    .trigger {
      display: flex;
      cursor: pointer;
      align-items: center;
      justify-content: space-between;
      padding: 10px 10px;
      border-radius: 10px;
      transition: 0.3s;

      &:hover {
        background-color: rgba(vars.$black, 0.1);
      }

      img {
        margin-right: 10px;
      }

      p {
        font-size: 14px;
        line-height: 14px;
        text-transform: uppercase;
        font-weight: 700;
      }
    }

    .options {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background-color: vars.$white;
      border-radius: 10px;
      margin-top: 5px;
      overflow: hidden;
      max-height: 0;
      opacity: 0;
      pointer-events: none;
      transition: max-height 0.3s ease, opacity 0.3s ease;
      box-shadow: 0 0 30px rgba(#000000, 0.25);
      z-index: 100;
      padding: 5px 0;
    }

    .option,
    .trigger_content {
      cursor: pointer;
      display: flex;
      align-items: center;
      padding: 4px 10px;

      img {
        border-radius: 5px;
        margin-right: 10px;
        width: 28px;
      }

      p {
        font-size: 18px;
      }
    }

    .option {
      transition: 0.2s;
      text-transform: uppercase;
      font-size: 12px;

      &:hover {
        background-color: rgba(vars.$black, 0.1);
      }

      &.active {
        font-weight: 700;
      }
    }
  }
}

// Main section ------------------

.main {
  margin-top: 150px;

  .pattern {
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: -100;
    max-height: 1000px;
  }

  .box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .content {
    width: 450px;

    h1 {
      font-size: 60px;
      margin-bottom: 25px;
      line-height: 60px;
      font-weight: 700;
    }

    .text {
      margin-bottom: 25px;
      line-height: 22px;
    }

    .btns {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
    }

    .store-btn {
      background-color: vars.$black;
      display: flex;
      align-items: center;
      border-radius: 50px;
      padding: 7px 20px;
      text-decoration: none;

      &:hover {
        background-color: #000000;
      }

      img {
        width: 25px;
        height: 25px;
        margin-right: 5px;
      }

      .pretitle {
        font-size: 12px;
        line-height: 12px;
        color: rgba(#fff, 0.75);
      }

      .label {
        font-weight: 700;
        color: #fff;
      }
    }
  }

  .images {
    display: flex;

    img {
      width: 230px;
      height: 460px;
      transform: rotate(-10deg);
    }

    .img1 {
      margin-right: 30px;
    }
  }
}

// Benefits section ------------------
.benefits {
  margin-top: 350px;

  .pattern {
    position: absolute;
    left: 0px;
    top: 950px;
    z-index: -1;
  }

  .box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .content {
    width: 400px;

    h2 {
      font-size: 40px;
      line-height: 40px;
      margin-bottom: 24px;
      font-weight: 700;
    }
  }

  .item {
    display: flex;
    width: 400px;

    &:not(:last-child) {
      margin-bottom: 45px;
    }

    .img {
      width: 55px;
      height: 35px;
      margin-right: 20px;

      img {
        width: 100%;
        height: 35px;
        object-fit: contain;
      }
    }

    h4 {
      font-size: 24px;
      line-height: 24px;
      margin-bottom: 20px;
      font-weight: 700;
    }
  }
}

// Footer ------------------
.footer {
  margin-top: 250px;
  margin-bottom: 40px;

  .pattern {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -100;
  }

  .list {
    margin-bottom: 5px;

    .item {
      color: vars.$black;
      font-size: 18px;
      text-decoration: none;

      &:hover {
        color: vars.$main;
      }
    }
  }

  .support {
    color: vars.$gray;
  }
}

// Policy ------------------
.policy {
  margin-top: 60px;

  h1 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
  }

  p {
    margin-bottom: 15px;
  }

  h5 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
  }

  li {
    list-style-type: disc;
    margin-left: 30px;
    padding-left: 10px;
  }

  li {
    margin-bottom: 15px;
  }

  a {
    color: vars.$main;
    &:hover {
      text-decoration: underline;
    }
  }

  b {
    font-weight: 700;
  }

  hr {
    margin-top: 35px;
    margin-bottom: 40px;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgba(vars.$black, 0.5);
  }
}
